<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
Ошибка. Введены некорректные данные. Для рассчета отпускных введите в качесве параметров запроса среднюю зарплату за 12 месяцев
в виде salary=... и один из двух вариантов длительности отпуска:
<br>
1. Количество дней в виде days=...
<br>
2. Даты начала и конца отпуска в виде start=...&end=... в формате dd:MM:yyyy. Обращаем внимание, что дата начала отпуска должна быть раньше его конца
</body>
</html>